.card {
    margin-top: 25px;
    transform-style: preserve-3d;
    min-height: 20vh;
    width: 50%;
    border-radius: 30px;
    padding: 0rem 5rem;
}

.logo {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;
}

.logo img {
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
        to right,
        rgba(245,70,66,0.75),
        rgba(8,83,156,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h2 {
    font-size: 2.45rem;
    transition: all 0.75s ease-out;
    text-align: center;
}

.info h3 {
    font-size: 1.8rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    text-align: center;
    text-shadow: 2px 2px #90FAF5;
}
