.modal {
    display:none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background: #f4f4f4;
    margin: 10%;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modal_open;
    animation-duration: 1s;
}

.close_btn {
    float: right;
    color: #fff;
    font-size: 30px;
}

.close_btn:hover,
.close_btn:focus {
    color: #03e9f4;
    text-decoration: none;
    cursor: pointer;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 90%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(22, 22, 22);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    overflow: auto;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input,
.login-box .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: rgb(22, 22, 22);
}

.sex {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
  }

.label {
    background-color: rgb(22, 22, 22);
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 75px;
    display: inline-block;
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
    margin-bottom: 50px;;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 1px solid #03e9f4;
    color: #03e9f4;
}

.user-box textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: 1px solid white;
    border-bottom: 1px solid #fff;
    outline: none;
    background: rgb(22, 22, 22);
}

.user-box textarea:focus {
    border: 1px solid #03e9f4;
}

.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
  
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
  
.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
  
.login-box a span {
    position: absolute;
    display: block;
  }
  
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
  
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
  
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
  
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
  
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
  
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

@keyframes modal_open {
    from { opacity: 0}
    to { opacity: 1 }
}

